[submodule "external/ligigl"]
	path = external/ligigl
	url = https://github.com/libigl/libigl.git
[submodule "external/tinyply"]
	path = external/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git