<launch>
  <!-- Node to concatenate two point clouds -->
  <!-- <include file="$(find mesh_nav)/launch/merge_sensors.launch"/> -->

  <!-- Node to generate octomap from the merged point cloud -->
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <!-- Remap input point cloud topic -->
    <remap from="cloud_in" to="/unitree/cloud"/>
    <param name="resolution" type="double" value="0.1" />
  </node>
</launch>